In [18]:
import pandas as pd
import numpy as np

In [3]:
confusion = pd.read_csv("../model/statistics/confusion.csv")
confusion.head()

,True,Predicted
0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"
1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"
2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"
3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"
4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]"

In [4]:
True_matrix=np.zeros((confusion.shape[0], 8))
Pred_matrix=np.zeros((confusion.shape[0], 8))

In [5]:
eval(confusion['True'][0])

[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]

In [6]:
for i in range (confusion.shape[0]):
    True_matrix[i, :] = eval(confusion['True'][i])
    Pred_matrix[i, :] = eval(confusion['Predicted'][i])

In [7]:
f1=[0]*8
prec=[0] * 8
recl=[0] * 8
prec_neg=[0] * 8
recl_neg=[0] * 8
acc=[0] * 8
examples = []
for cls in range(8):
    true = True_matrix[:, cls]
    pred = Pred_matrix[:, cls]
    
    acc[cls] = (true == pred).sum()
    
    tp = ((true == 1) & (pred == 1)).sum() + 1
    fp = ((true == 0) & (pred == 1)).sum() + 1
    tn = ((true == 0) & (pred == 0)).sum() + 1
    fn = ((true == 1) & (pred == 0)).sum() + 1

    print(f"total={true.shape[0]} tp={tp} fp={fp} tn={tn} fn={fn}")
    prec[cls] = tp/(tp + fp)
    prec_neg[cls] = tn/(tn + fn)

    recl[cls] = tp/(tp + fn)
    recl_neg[cls] = tn/(tn + fp)

    f1[cls] = 2*(prec[cls]*recl[cls])/(prec[cls] + recl[cls])
    examples.append(np.argmax(pred))
    print(np.argmax(pred))

total=34028 tp=12 fp=17 tn=33912 fn=91
1586
total=34028 tp=1195 fp=193 tn=31790 fn=854
11
total=34028 tp=16 fp=1 tn=33983 fn=32
2450
total=34028 tp=1 fp=2 tn=33983 fn=46
25324
total=34028 tp=64 fp=55 tn=33527 fn=386
93
total=34028 tp=1 fp=1 tn=34029 fn=1
0
total=34028 tp=32878 fp=291 tn=712 fn=151
0
total=34028 tp=886 fp=358 tn=31446 fn=1342
12

In [8]:
prec

[0.41379310344827586,
 0.8609510086455331,
 0.9411764705882353,
 0.3333333333333333,
 0.5378151260504201,
 0.5,
 0.9912267478669843,
 0.7122186495176849]

In [9]:
recl

[0.11650485436893204,
 0.5832113225963885,
 0.3333333333333333,
 0.02127659574468085,
 0.14222222222222222,
 0.5,
 0.9954282600139271,
 0.3976660682226212]

In [10]:
prec_neg

[0.9973237655500985,
 0.9738389903198138,
 0.9990592385712186,
 0.9986482118193306,
 0.9886179341255565,
 0.9999706141639729,
 0.8250289687137891,
 0.9590703916066854]

In [11]:
recl_neg

[0.999498953697427,
 0.9939655441953538,
 0.9999705743879472,
 0.9999411505075769,
 0.9983622178548032,
 0.9999706141639729,
 0.7098703888334995,
 0.9887435542699031]

In [12]:
f1

[0.18181818181818182,
 0.695373872563282,
 0.49230769230769234,
 0.04,
 0.22495606326889278,
 0.5,
 0.9933230611196714,
 0.5103686635944701]

In [13]:
names = pd.read_csv("../data/dataset_test.csv").drop(["Address"], axis=1).columns

In [14]:
names

Index(['Brain Class', 'Data Class', 'Futile Abstract Pipeline',
       'Futile Hierarchy', 'God Class', 'Hierarchy Duplication', 'Model Class',
       'Schizofrenic Class'],
      dtype='object')

In [15]:
examples = pd.read_csv('../data/filtered_data.csv').head()

In [16]:
examples = examples[["Address", "Data Class", "Futile Abstract Pipeline", "Model Class", "Schizofrenic Class"]]

In [17]:
examples.head()

,Address,Data Class,Futile Abstract Pipeline,Model Class,Schizofrenic Class
0,org.apache.hadoop.metrics2.sink.SqlServerSinkT...,False,False,True,False
1,org.apache.ambari.TestMapReduceJobHistoryUpdat...,False,False,True,False
2,org.apache.ambari.log4j.hadoop.mapreduce.jobhi...,False,False,True,False
3,org.apache.ambari.log4j.hadoop.mapreduce.jobhi...,False,False,True,True
4,org.apache.ambari.log4j.common.store.TestDatab...,False,False,True,False